<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css">
        <script src="scripts/app.js"></script>
        <title>404</title>
        <link rel="icon" href="/web-server/public/content/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>