<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/web-server/public/content/weather.png">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="content/me.jpg" alt="Micke" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>