<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <a href="/">Index</a>
        <a href="help">Help</a>
        <a href="about">About</a>
        <br />
        <img src="content/me.jpg" alt="Micke">
        <p>Created by {{name}}</p>
    </body>
</html>