<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css">
        <script src="scripts/app.js"></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <a href="weather">Weather</a>
        <a href="/">Index</a>
        <a href="help">Help</a>
        <a href="about">About</a>
        <p>Created by {{name}}</p>
    </body>
</html>